     <div class="footer">

            <% var date = new Date().getFullYear() %>

      
       <p class="big-shoulders-inline">© <%= date %> ZeQR. All rights reserved</p>


       <div class="socialIcons">
            <img src="./icons/X.png"  class="socialI">
            <img src="./icons/instagram.png" class="socialI">
      </div>
      </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/code.js"></script>


</body>
</html>
